.navbar-light {
  color: #0d6efd !important;
}

.navbar-nav {
  color: #0d6efd !important;
}

.nav-link {
  color: #0d6efd !important;
}

.nav-link:hover {
  color: #0d6efd !important;
}
.navbar-light {
  color: #0d6efd !important;
}
.nav-link:focus {
  color: #0d6efd !important;
}
